@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

/* Estilos generales */
body {
    display: grid;
    grid-template-rows: 15% auto 85%;
    grid-template-columns: 1fr;
    grid-template-areas: 
    "blanco"
    "verde"
    "azul";
    position: relative;
    min-height: 100vh;
    margin: 0;
    padding: 0;

}

/* Estilos para el área blanca */
.blanco {
    grid-area: blanco;
}

/* Estilos para el área verde */
.verde {
    width: 180px;
    height: 180px; 
    background-color: #00a380;
    position: absolute;
    left: 20%;
    transform: translateX(-50%);
    top: calc(20% - 5vw);
    z-index: 1;
    display: flex;
    place-content: center;
    place-items: center;
    grid-area: verde;
    padding: 15px;
}

/* Estilos para el texto */
.texto {
    color: white;
    font-size: 1.8em;
}

/* Estilos para el área azul */
.azul {
    grid-area: azul;
    background-color: #000b3d;
    display: grid;
    grid-template-columns: 35% 65%;
    grid-template-rows: 1fr;
    grid-template-areas:
    "contenido carrusel";
}

/* Estilos para el contenido */
.contenido {
    grid-area: contenido;
    color: white;
    display: grid;
    place-content: center;
    padding: 80px;
    font-family: "Roboto", sans-serif;
    font-size: 0.9em;
    font-weight: 300;

}

/* Estilos para el carrusel */
.carrusel {
    grid-area: carrusel;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 90%;
}

/* Estilos para los botones del carrusel */
button {
    background-color: transparent;
}

.control {
    border: none;
    color: white;
    font-size: 2em;
    cursor: pointer;
    padding: 10px;
}

/* Contenedor del carrusel */
.carousel-container {
    overflow: hidden;
    width: 100%;
    position: relative;
}

/* Riel del carrusel */
.carousel-track {
    display: flex;
    transition: transform 0.5s ease;
    gap: 40px;
}

/* Ítem del carrusel */
.carousel-item {
    width: calc(86% / 3);
    background-color: white;
    height: 300px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    flex-shrink: 0;
    /* Eliminar márgenes para asegurar que no haya espacio entre ítems */
    margin-right: 0;
}

/* Título */
.titulo {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    font-weight: 600;
}

/* Subtítulo */
.subtitulo {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    font-size: 0.9rem;
}

/* Línea separadora */
.linea {
    width: 60%; /* Ajusta el ancho según sea necesario */
    height: 2px; /* Grosor de la línea */
    background-color: #000; /* Color de la línea */
    margin: 10px 0; /* Espaciado arriba y abajo de la línea */
    margin-left: 45px;
}


/* Estilos para tablets */
@media (min-width: 768px) and (max-width: 1024px) {
    body {
        grid-template-rows: auto auto auto;
        grid-template-columns: 1fr;
        grid-template-areas:
        "blanco"
        "verde"
        "azul";
        overflow-x: hidden; /* Asegura que no haya scroll lateral */
    }

    /* Estilos para el área verde */
    .verde {
        width: 150px; /* Ajuste para tablets */
        height: 150px;
        left: 50%; /* Centrado horizontal */
        top: 10%;
        transform: translateX(-50%);
        margin-top: 30px;
    }

    /* Ajustes para el área azul */
    .azul {
        display: block;
        padding-bottom: 20px; /* Asegura que no haya espacio en blanco */
        grid-template-columns: 1fr;
        width: 100%; /* Asegura que no se desborde el área azul */
        overflow-x: hidden; /* Evita desbordamiento lateral */
    }

    /* Estilos para el contenido */
    .contenido {
        padding: 80px 100px; /* Ajustar padding para tablets */
        margin-top : 200px;
    }

    /* Ajustes del carrusel */
    .carrusel {
        display: flex;
        justify-content: center;
        width: 100%;
        padding: 20px 0;
    }

    .carousel-container {
        width: 100%; /* Asegura que no se desborde el carrusel */
        overflow-x: hidden; /* Evita scroll lateral en el carrusel */
    }

    .carousel-track {
        display: flex;
        transition: transform 0.5s ease;
        gap: 121px;
    }

    .carousel-item {
        width: calc(70% / 2); /* Mostrar dos ítems */
        margin-right: 20px;
        box-sizing: border-box; /* Asegura que el padding y border no causen desbordamiento */
    }

    /* Ajustes para el botón del carrusel */
    .control {
        font-size: 1.5em;
        padding: 15px;
    }
}

/* Estilos para moviles */

@media (max-width: 767px) {
    body {
        grid-template-rows: auto auto auto;
        grid-template-columns: 1fr;
        grid-template-areas:
        "blanco"
        "verde"
        "azul"; 
        overflow-x: hidden; /* Asegura que no haya scroll lateral */
    }

     /* Estilos para el área verde */
     .verde {
        width: 150px; /* Ajuste para tablets */
        height: 150px;
        left: 50%; /* Centrado horizontal */
        top: 10%;
        transform: translateX(-50%);
        margin-top: 30px;
    }

    /* Ajustes para el área azul */
    .azul {
        display: block;
        padding-bottom: 20px; /* Asegura que no haya espacio en blanco */
        grid-template-columns: 1fr;
        width: 100%; /* Asegura que no se desborde el área azul */
        overflow-x: hidden; /* Evita desbordamiento lateral */
    }

    /* Estilos para el contenido */
    .contenido {
        padding: 80px 80px; /* Ajustar padding para moviles */
        margin-top : 200px;
    }

    /* Ajustes del carrusel */
    .carrusel {
        display: flex;
        justify-content: center;
        width: 100%;
        padding: 20px 0;
    }

    .carousel-container {
        width: 100%; /* Asegura que no se desborde el carrusel */
        overflow-x: hidden; /* Evita scroll lateral en el carrusel */
    }

    .carousel-track {
        display: flex;
        transition: transform 0.5s ease;
        gap: 200px;
    }

    .carousel-item {
        width: 65%;
        margin-right: 20px;
        box-sizing: border-box; /* Asegura que el padding y border no causen desbordamiento */
    }

    /* Ajustes para el botón del carrusel */
    .control {
        font-size: 1.5em;
        padding: 15px;
    }
}
